@model SuperAnimal.ViewModels.Deal.DealIndexViewModel
@{
    ViewData["Title"] = "Deal between pets";
}

<div class="text-center">
    <h1 class="display-4">Search pet to deal with</h1>
</div>

<div class="row">

    <form asp-controller="Deal" asp-action="Index" method="get">
        <div class="form-group">
            <div class="input-group">
                <input asp-for="@Model.SearchedPetName" class="form-control" placeholder="Pet Name" />
                <span>
                    <button class="btn btn-success" id="btn-search-pet" type="submit">
                        Search
                    </button>
                </span>

            </div>

        </div>

    </form>
</div>

<br />

<div class="row">


    <table class="table">
        <thead>
            <tr>
                <th scope="col">Pet Name</th>
                <th scope="col">Owner</th>
                <th scope="col">Make a deal</th>
            </tr>
        </thead>
        <tbody>

            @foreach (Pet pet in Model.Pets)
            {
                <tr>
                    <td>@pet.Name</td>
                    <td>@pet.User.UserName</td>
                    <td>
                        @Html.ActionLink("Deal", "Index", "DealChat", new { petId = @pet.Id }, new { @class = "text-decoration-none btn btn-info" })
                    </td>
                </tr>
            }

        </tbody>
    </table>


</div>
